body{
  background-color:black;
  color:white;
}
h1{
  text-align: center;
  font-family:serif;
  font-style: oblique;
}
img{
  width: auto;
  height: auto;
}
ul li{
  float: right;
  width: 140px;
  length:30px;
}
div{
  colour:white;
  background-color:black;
}
h2{
  text-align: center;
  color: white;
}
